body {
    margin: 0;
    font-family: "Inter", serif;
    text-align: center;
}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: #6943FF;
    height: 50vh;
}

.input-container h1 {
    margin: 0;
    padding: 2rem;
    color: white;
}

.input-container input {
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    font-size: 4rem;
    height: 83px;
    width: 117px;
    margin-bottom: 1.5rem;
    text-align: center;
}

.input-container button {
    background-color: white;
    color: #3d3d3d;
    border-radius: 5px;
    border: none;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}

.input-container button:hover {
    cursor: pointer;
    opacity: .9;
}

.conversion-container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
}

.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #273549;
    padding: 2rem;
    border-radius: 5px;
}

.container-box:nth-child(1) {
    margin: 3rem 2rem 2rem 2rem;
}

.container-box:nth-child(2) {
    margin: 0 2rem 2rem 2rem;
}

.container-box:nth-child(3) {
    margin: 0 2rem 3rem 2rem;
}

.container-box h3 {
    color: #CCC1FF;
    margin: 0 0 1.5rem 0;
    padding: 0;
    font-size: 1.5rem;
}

.container-box p {
    color: white;
    padding: 0;
    margin: 0;
}

@media (min-width: 1000px) {
    .conversion-container {
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 50vh;
    }

    .container-box {
        height: 100px;
        align-items: center;
    }


    .container-box:nth-child(1) {
        margin: 1rem;
    }

    .container-box:nth-child(2) {
        margin: 1rem;
    }       

    .container-box:nth-child(3) {
        margin: 1rem;
    }



   

}